@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat), var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-green-teal: rgb(10, 180, 99);
  --color-pinkish-grey: rgb(196, 196, 196);
  --color-emerald: rgb(0, 148, 255);
  --color-warm-grey-75: rgba(132, 132, 132, 0.75);

  /* Spacing & Layout Tokens */
  --spacing-card-size: 582px;
  --spacing-card-padding: 30px;
  --spacing-gap-small: 10px;
  --spacing-button-height: 34px;

  /* Radius Tokens */
  --radius-button: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
